<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  SWC<span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('SWC')" data-ng-class="{active: currency.symbol == 'SWC'}">SWC</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mBTC')" data-ng-class="{active: currency.symbol == 'mBTC'}">mBTC</a>
  </li> 
</ul>

